<!DOCTYPE HTML>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="application.css">
    <title>WedCampTask2</title>
    
    <body>
        
        <p><%=@book.title %></p>
        <p><%=@book.body %></p>
<!--  <h1>Editing Book</h1>-->
<!--   <%= form_with model: Book.new do |f| %>-->
<!--   <%= f.text_field :title %>-->
<!--   <%= f.text_area :body %>-->
<!--   <%= f.submit 'Update Book' %>-->
<!--  <% end %>-->
<!--</body>-->