<!DOCTYPE HTML>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="application.css">
    <title>WedCampTask2</title>
    
    <body>
        
        <div class="flash">
          <%= flash[:notice] %>
        </div>
        
        <p><strong>Title:</strong>
          <%=@book.title %>
        </p>
        
        <p><strong>Body:</strong>
          <%=@book.body %>
       
        </p>
        
        <%= link_to"Edit",edit_book_path(@book.id) %>
        |
        <%= link_to"Back",books_path %>
        
        <!--<% if flash[:notice] %>-->
        <!--<p class="notice"><%= notice %></p>-->
        <!--<% elsif flash[:alert] %>-->
        <!--<p class="alert"><%= alert %></p>-->
        <% end %>
</body>